:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --header-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-text-color: #303030;
  --second-text-color: #555555;
  --accent-color: #ff6c00;
  --main-font: 'Open Sans', Verdana, sans-serif;
  --typical-margin: 20px;
}

body {
  font-family: var(--main-font);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}
.btn {
  min-width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* --------------------------HEADER-------------------------- */

.header {
  background-color: black;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* padding bottom needs if we use header in another section, and header not be stick to the content */
.header .container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 70px;
}
.header-list {
  display: flex;
}

/* .header-item + .header-item {
  margin-left: 40px;
} */

.header-item:not(:last-child) {
  margin-right: 40px;
}

/* .header-connect {
  margin-left: auto;
} */

.header-tel {
  margin-left: auto;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  margin-left: 60px;
  color: var(--main-btn-color);
}

/* --------------------------HERO-------------------------- */
.hero .container {
  display: flex;
}

/* -------------------Bикористання flex-grow ------------------ */
.hero-list {
  width: 90px;
}
.hero-content {
  padding: 270px 100px 200px 100px;
  background-color: black;
  flex-grow: 1;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-pre-title {
  margin-bottom: var(--typical-margin);
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  margin-bottom: var(--typical-margin);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-after-title {
  max-width: 450px;
  color: #9da4bd;
}
/* ----------------------------------ABOUT---------------------------- */
.about {
  padding-top: 140px;
  padding-bottom: 90px;
}
.about-list {
  display: flex;
  margin-right: 64px;
}
.about-item + .about-item {
  margin-left: 30px;
}
.about .container {
  display: flex;
}
.about-pre-title {
  color: var(--main-text-color);
  margin-bottom: var(--typical-margin);
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.about-after-title {
  color: var(--second-text-color);
  margin-bottom: var(--typical-margin);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 40px;
}
.about-btn {
  color: var(--second-btn-color);
}

/* -------------------------------PRICES-------------------------- */
.prices {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: black;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.prices-wrap {
  display: flex;
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-list {
  border: 1px solid white;
  padding: 30px 40px;
  flex-grow: 1;
  /* width: 50%; */
}
.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--typical-margin);
}
.prices-item:last-child {
  margin-bottom: 0;
}
.prices-btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

/* --------------------------------------BENEFITS------------------------------ */
.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}
.benefits .container {
  display: flex;
}
.benefits-wrap {
  margin-left: 130px;
}
.benefits-item {
  padding: 20px 20px;
  max-width: 170px;
  height: 130px;
  /* text-align: center; */
  background-color: #f7f7f7;
}
.benefits-item span {
  display: block;
  text-align: center;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--main-text-color);
}
.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--main-text-color);
}
.benefits-pre-title {
  margin-bottom: var(--typical-margin);
  color: var(--main-text-color);
}
.benefits-title {
  margin-bottom: var(--typical-margin);
  color: var(--second-title-color);
}
.benefits-after-title {
  color: var(--second-text-color);
}

/* --------------------------------MASTERS---------------------------- */
.masters {
  padding-top: 130px;
  padding-bottom: 130;
}

.masters-list {
  display: flex;
  margin-left: -30px;
  /* margin: -15px; */
}
.masters-item {
  /* flex-basis: calc((100% - 90px) / 3); */
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  /* margin: 15px; */
}
/* .masters-item {
  width: 370px;
}
.masters-item:not(:last-child) {
  margin-right: 30px;
} */
/* .masters-item + .masters-item {
  margin-left: 30px;
} */
.masters-pre-title {
  margin-bottom: var(--typical-margin);
  color: var(--main-text-color);
}
.masters-title {
  margin-bottom: 44px;
  color: var(--main-text-color);
}
.masters-item-title {
  margin-bottom: 8px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* --------------------------------------GALLERY---------------------------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}
.gallery-list {
  display: flex;
  gap: 30px;
  /* margin: -15px; */
}
.gallery-item {
  width: calc((100 - 90px) / 4);
  /* flex-basis: calc(100% / 4 - 30px);
  margin: 15px; */
}
/* .gallery-item + .gallery-item {
  margin-left: 30px;
} */
.gallery-pre-title {
  margin-bottom: 44px;
  color: var(--main-text-color);
}

/* ------------------------------------ONLINE--------------------------------- */
.contact-wrap {
  background-color: black;
}
.online {
  /* width: 657px; */
  padding-top: 130px;
  padding-bottom: 130px;
}
.online-title {
  color: var(--main-title-color);
}
.online-btn {
  margin-top: 44px;
  color: var(--main-btn-color);
}

/* -----------------------------------CONTACTS---------------------------------- */
.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
}
/* .contact-wrap .container {
  display: flex;
} */
.contacts-title {
  margin-bottom: 40px;
  color: var(--main-title-color);
}
.contacts-address {
  font-style: normal;
}
.contacts-item {
  margin-bottom: var(--typical-margin);
}
.contacts-link,
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-address {
  margin-bottom: 70px;
}
.contacts-pre-title {
  margin-bottom: var(--typical-margin);
  color: var(--main-title-color);
}

/* -------------------------------FOOTER-------------------------- */
.footer {
  padding: 56px 55px;
}
.footer .container {
  display: flex;
  align-items: center;
}
.footer-list {
  display: flex;
  margin-left: auto;
}
.footer-item + .footer-item {
  margin-left: 40px;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-text-color);
}
